.article {
  background-color: rgb(205, 205, 205);
  border-radius: 20px;
  min-height: 110px;
  max-width: 200px;
  margin-bottom: 20px;
  text-align: center;
}


.article-photo {
  max-width:50%;
  width: 200px;
  height: 200px;
  margin-left: 50%;
  margin-left: auto;
margin-right: auto;
display: block;
}


.card-body {
  background:rgb(244, 244, 244);
}

.card-text {
  max-width: 250px;
}

.add-to-cart-btn {
  padding: 5px 10px 5px 10px;
  background: #E69C24;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  border: none;
}

.add-to-cart-btn:hover {
  transform: scale(1.02);
}

.quantity-container {
  vertical-align: middle;
  font-size: 20px;
}


.card-title {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.card-title:hover {
  text-decoration: none;
  color: #E69C24;
}
