<div class="card h-100 w-100">
  <img [routerLink]="[item.id]" class="card-img-top article-photo" src={{item.photos[0]}}
  onerror="this.src='assets/img/error.jpg';" alt="">
  <div class="card-body">
    <h4>
      <a class="card-title" href="#" [routerLink]="[item.id]">{{item.name | uppercase}}</a>
    </h4>
    <h5>{{item.price}}$</h5>
    <p class="card-text">{{ (item.desc.length>50)? (item.desc | slice:0:50)+'...':(item.desc) }}</p>


    <div class="cart-container">
      <div class="row">
        <button class="col-9 add-to-cart-btn" (click)="onClickMe()">Add to the cart !</button>

        <div *ngIf="checkInCart(item)>0" class="col-3 text-center quantity-container py-1">
          {{checkInCart(item)}}
        </div>
      </div>

    </div>


  </div>
</div>

<!-- [routerLink]="/product/[id]" -->
