.cart-container {
  margin-top: 50px;
  height: 100vh;
  width: 100%;
  background: rgb(157, 241, 229);
}


.center-cart-display {
  background: rgb(228, 228, 228);
  border: 1px solid rgb(179, 179, 179);

}

.one-line {
  display: inline-block;
  /* padding-top: 10px; */
  vertical-align:middle;
}

.total-container {
  color: black;
  padding: 10px 0px 10px 0px;

}

.total {
  font-size: 25px;
  /* margin-left: 10px; */
}

.total-price {
  /* margin-left: 60%; */
  font-size: 25px;
}

.row-container {
  width: 50%;
  transform: translate(-50%,0%);
  margin-left: 50%;
  background: rgb(255, 255, 255);
}

.empty-container {
  padding-top: 30vh;
}
.empty-cart {
  padding: 20px 10px 20px 10px;
  font-size: 35px;
}

.warning-empty {

  background: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
}


.go-back-btn {
  margin-top: 30px;
  border: 1px solid rgb(6, 155, 159);
  background: rgb(54, 189, 219);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}
