<div class="cart-container">
  <div *ngIf="total!=0">
    <div class="cart-title">
      My cart
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 center-cart-display">
        <div id="scrollbar1" class="px-4 py-4 cart text-center">

          <app-item-cart  *ngFor="let product of cartList; let i = index"
                         [Photo]="product.item.photos[0]"
                         [Name]="product.item.name"
                         [Price]="product.item.price"
                         [Quantity]="product.quantity"
                         [Id]="product.item.id"
                         [TotalPrice]="product.totalPrice">
                       </app-item-cart>

        </div>
        <div class="row-container">
          <div class="row text-center justify-content-around total-container">
            <div class="col-xl-3 py-1 total">
              Total
            </div>
            <div class="col-xl-3 py-1 total-price">
              {{total}}$
            </div>

            <a href="#" class="col-xl-3 py-1 checkout" (click)="checkoutClick()" routerLink="/products">
              Checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="total==0">
    <div class="row justify-content-center empty-container">
      <div class="col-12 warning-empty">
        <div class="empty-cart text-center">
          <b>Empty cart</b>
          <p id="sml-txt">You need to add some item</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center ">
      <a href="#" class="go-back-btn" routerLink="/products" ><i class="fa fa-angle-double-left arrow"></i>Return to shop</a>
    </div>
  </div>
</div>
