<div class="cart-container">
  <div *ngIf="total!=0" class="total-container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 center-cart-display">
        <div class="px-4 py-4  text-center">

          <app-item-cart  *ngFor="let product of cartList; let i = index"
                         [Name]="product.item.name"
                         [Price]="product.item.price"
                         [Quantity]="product.quantity"
                         [Id]="product.item.id"
                         [TotalPrice]="product.totalPrice"></app-item-cart>

        </div>
        <div *ngIf="total!=0" class="total-container">
          <div class="row-container">
            <div class="row text-center">
              <div class="col-sm py-1 total">
                Total
              </div>
              <div class="col-sm py-1 total-price">
                {{total}}$
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="total==0">
    <div class="row justify-content-center empty-container">
      <div class="col-sm-6 warning-empty">
        <div class="empty-cart text-center">
          Your cart is empty. <br>Go shopping !
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="#" routerLink="/product" ><button class="go-back-btn">Take me to the product</button></a>
    </div>
  </div>
</div>
