<div class="item">
    <div class="name-container one-line">
      <p class="item-name">{{Name}}</p>
    </div>
    <div class="price-container one-line">
      <p>{{Price}}$</p>
    </div>
    <div class="quantity-container one-line">
        {{Quantity}}
    </div>
    <div class="total-price-container one-line">
        {{TotalPrice}}$
    </div>
    <div class="delete-container one-line">
      <button class="remove-btn btn btn-danger" (click)="onClickMe()">Remove</button>
    </div>
</div>
