<div class="item">
    <div class="name-container one-line">
      {{Name}}
    </div>
    <div class="price-container one-line">
      {{Price}}$
    </div>
    <div class="quantity-container one-line">
      <div class="quantity one-line">
        {{Quantity}}
      </div>
      <div class="arrows one-line">
        <div class="arrow-up">
          <i class="fa fa-arrow-up" (click)="addOne()"></i>
        </div>
        <div class="arrow-down">
          <i class="fa fa-arrow-down" (click)="removeOne()"></i>
        </div>
      </div>
    </div>
    <div class="total-price-container one-line">
        {{TotalPrice}}$
    </div>
    <div class="delete-container one-line">
      <button class="remove-btn btn btn-danger" (click)="onClickMe()">Remove</button>
    </div>
</div>
