.item {
  background: rgb(255, 255, 255);
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 20px;
}

.one-line {
  display: inline-block;
  /* padding-top: 10px; */
  vertical-align:middle;
}

.item-name {
  font-size: 20px;
}

.name-container {
  width: 30%;
}

.price-container {
  width: 10%;
}
.quantity-container {
  width: 20%;
}
.total-price-container {
  width: 10%;
}
.delete-container {
  width: 30%;
}


.arrows {
  margin-left: 10px;
}
