.item {
  background: rgb(255, 255, 255);
  /* margin-bottom: 15px; */
  font-size: 20px;
}
hr {
  width: 100%;
}

.one-line {
  display: inline-block;
  vertical-align:middle;
}

.pad-top {
  padding-top: 20px;
}

.round-pic {
  width: 100%;
}

.remove-btn {
  background: rgb(255, 255, 255);
  text-decoration: underline;
  border: 0;
}
.remove-btn:hover {
  text-decoration: none;
}

.arrows {
  margin-left: 10px;
}
