<div class="item">
  <div class="row text-center justify-content-center">

    <div class="product-pic col-xl-2">
      <img class="round-pic" src="{{Photo}}" alt="" onerror="this.src='assets/img/error.jpg';">
    </div>
    <!-- Name -->
    <div class="col-4 col-xl-2 name-container my-auto">
      {{Name}}
    </div>

    <!-- Price for 1 item -->
    <div class="col-3 col-xl-2 price-container my-auto">
      {{Price | number:'1.0-2'}}$
    </div>

    <!-- Quantity Modifier -->
    <div class="col-3 col-xl-2 quantity-container my-auto">
      <div class="quantity one-line">
        {{Quantity}}
      </div>
      <div class="arrows one-line">
        <div class="arrow-up">
          <i class="fa fa-plus-circle" (click)="addOne()"></i>
        </div>
        <div class="arrow-down">
          <i class="fa fa-minus-circle" (click)="removeOne()"></i>
        </div>
      </div>
    </div>

    <!-- Total price of the product -->
    <div class="col-2 col-xl-2 total-price-container my-auto">
        {{TotalPrice | number:'1.0-2'}}$
    </div>

    <!-- Delete button -->
    <div class="col-4 col-xl-2 delete-container my-auto">
      <button class="remove-btn" (click)="onClickMe()">Remove</button>
    </div>
  </div>
</div>
<hr>
