<div class="homepage-header">

  <div class="dark-header"></div>

  <!-- Wave -->
  <div class="wave-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
      <path fill="#343a40" fill-opacity="1" d="M0,32L80,58.7C160,85,320,139,480,144C640,149,800,107,960,90.7C1120,75,1280,85,1360,90.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg>
  </div>

  <div class="wrapper">
    <div class="brand">
      <p id="brand-name">Shopshelf</p>
      <h3 id="brand-slogan">All these items just for you !</h3>
    </div>
  </div>
</div>


<section id="all-product">
  <div class="product-container row px-4 py-4 justify-content-center">
    <div class="prod"  *ngFor="let item of items">
        <app-items [item]="item" class="w-100"></app-items>
    </div>
  </div>
</section>

<hr>
<section id="recommendation">
  <h2 class="interresting-item">The items that might interest you ! </h2>

  <div class="product-container row px-4 py-4 justify-content-center">
    <div class="prod"  *ngFor="let item of interrestingItem">
        <app-items [item]="item" class="w-100"></app-items>
    </div>
  </div>
</section>


  <!-- <app-item-cart  *ngFor="let product of cartList; let i = index"
                 [Name]="product.item.name"
                 [Price]="product.item.price"
                 [Quantity]="product.quantity"
                 [Id]="product.item.id"
                 [TotalPrice]="product.totalPrice"></app-item-cart> -->
