.homepage-header {
  width: 100%;
}

.dark-header {
  height: 280px;
  background: #343a40;
}

.prod {
  margin-left: 20px;
  margin-bottom: 20px;
  min-width: 300px;
}


.wrapper {
  text-align: center;
  position: absolute;
  top: 200px;
  transform: translate(-50%,-50%);
  margin-left: 50%;
}


.brand {
  display: inline-block;
}

#brand-name {
  font-size: 50px;
  font-style: oblique;
  font-weight: bold;
  color: white;
}

#brand-slogan {
  font-size: 40px;
  font-weight:lighter;
  color: white;
}
